{% extends "layout.html" %}
{% block content %}

<div class="text-center mt-3 mb-2">
   <a onclick="loading();" class="btn btn-outline-light" href="{{url_for('read_mails')}}">mailboxes</a>
</div>

<section class="d-flex justify-content-center align-items-center container bg-light col-md-10 col-sm-12 col-xl-10 mb-4"
   style="margin-top: 3vh;">

   <table class="table table-striped table-hover text-center">
      <thead>
         <tr>
            <th>
               <script>document.write(parseMailbox('{{title}}'))</script>
            </th>
         </tr>
      </thead>
      <tbody id="headers">
         {% if headers['headers']|length < 1 and allFetched %}
         <tr>
            <td><p class="text-center">No emails</p></td>
         </tr>
         {% else %}
         {% for header in headers %}
         <tr>
            <td>
               <a onclick="loading();"
                  href="{{url_for('mail', mailbox=title, index=header['index'])}}">
                  <div class="card">
                     <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                           <div><b>From:</b> {{header['From']}}</div>
                           <div><b>{{header['index']}}</b></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                           <div><b>Subject:</b> {{header['Subject']}}</div>
                           <div class="text-muted"><b>Date:</b> {{header['Date']}}</div>
                        </div>
                     </div>
                  </div>
               </a>
            </td>
         </tr>
         {% endfor %}
         {% endif %}
      </tbody>
   </table>

</section>

{% if not allFetched %}
<div class="text-center mb-4" id="loadMore">
   <button onclick="return fetchHeaders('{{title}}')" type="button" class="btn btn-primary btn-sm" id="loadMoreBtn">Load
      More</button>
</div>

{% endif %}
{% endblock content %}