{% extends "layout.html" %}
{% block content %}

<div class="text-center mt-3 mb-2">
   <a class="btn btn-outline-light" href="{{url_for('menu')}}">menu</a>
</div>
<section class="d-flex justify-content-center align-items-center container bg-light col-md-6 col-sm-10 col-xl-4 mb-4"
  style="margin-top: 5vh;">
   <table class="table table-striped table-hover text-center" style="height: 25vh;">
      <thead>
         <tr>
            <th>Select Mailbox</th>
         </tr>
      </thead>
      <tbody>
         {% for mailbox in mailboxes %}
         <tr>
            <td><a onclick="loading('loading');" href="{{url_for('open_mailbox', mailbox=mailbox)}}"> <script>document.write(parseMailbox('{{mailbox}}'))</script></a></td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</section>

{% endblock content %}