{% extends "layout.html" %}
{% block content %}

<section class="d-flex justify-content-center align-items-center container bg-light col-md-6 col-sm-10 col-xl-4 mb-4"
  style="margin-top: 10vh;">
   <div class="card col-xl-6 col-md-8 col-sm-10">
      <img src="{{url_for('static', filename='success.png')}}" class="card-img-top" alt="...">
      <div class="card-body">
         <div class="text-center mt-3 mb-2">
            <a class="btn btn-outline-dark" href="{{url_for('menu')}}">Go To Menu</a>
         </div>
         <div class="text-center mt-3 mb-2">
            <a class="btn btn-outline-primary" href="{{url_for('write_mail')}}">Write New Mail</a>
         </div>
      </div>
   </div>
</section>

{% endblock content %}